.App {
  font-family: sans-serif;
  text-align: center;
  padding: 40px;
}

.Spice {
  background-color: tan;
  margin-right: 15px;
  padding: 15px;
}

.Spice .delete {
  margin-left: 10px;
}

.search {
  width: 515px;
  padding: 10px;
  margin-top: 20px;
}

.suggestions {
  background-color: grey;
  padding: 20px;
  width: 500px;
  margin: 20px auto;
}

.suggestions li {
  text-align: left;
  list-style: none;
  padding: 10px;
  cursor: pointer;
}

.suggestions li.selected {
  background-color: red;
}
