.App {
  font-family: sans-serif;
  text-align: center;
  padding: 40px;
}

.Spice {
  background-color: tan;
  margin-right: 15px;
  padding: 15px;
}

.Spice .delete {
  margin-left: 10px;
}

.search {
  width: 300px;
  padding: 10px;
  margin: 15px;
}
